@{
    //Nom du service à afficher en entête
    ViewData["nom-service-entete"] = ViewData["nom-service-entete"] ?? "";

    //Ces éléments de ViewData permettent de modifier la couleur de fond des différentes zones de la section de contenu principal (main)
    ViewData["classe-fond-section-entete"] = ViewData["classe-fond-section-entete"] ?? "fond-blanc";
    ViewData["classe-fond-section-contenu1"] = ViewData["classe-fond-section-contenu1"] ?? "fond-blanc";
    ViewData["classe-fond-section-2colonnes"] = ViewData["classe-fond-section-2colonnes"] ?? "fond-blanc";
    ViewData["classe-fond-section-contenu2"] = ViewData["classe-fond-section-contenu2"] ?? "fond-blanc";

    var couleurFondEnteteIdentiqueContenu1 = ViewData["classe-fond-section-entete"] == ViewData["classe-fond-section-contenu1"];
    var h1HorsEcran = ((bool?)ViewData["H1HorsEcran"]).GetValueOrDefault();
    var h1NonRendu = ((bool?)ViewData["H1NonRendu"]).GetValueOrDefault();

    // Masquer le premier espaceur de la zone contenu1 si la zone d'entête n'est pas vide et que sa couleur de fond est identique à celle de la section de contenu 1.
    var zoneEnteteVide = h1NonRendu;
    var masquerPremierEspaceurContenu1 = !zoneEnteteVide && couleurFondEnteteIdentiqueContenu1;
    var masquerPremierEspaceurConteneurColonnes = ((bool?)ViewData["masquerPremierEspaceurConteneurColonnes"]).GetValueOrDefault();

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex,nofollow">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicons/favicon-16x16.png">
    <link rel="mask-icon" href="~/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#fff" />
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>@ViewData["Title"] - ECS</title>

    @*Ressources à charger en priorité (on charge les fonts dans le but d'éviter les flicks *@
    <link rel="preload" as="font" href="~/fonts/open-sans-v18-latin-regular.woff" type="font/woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="~/fonts/open-sans-v18-latin-600.woff" type="font/woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="~/fonts/open-sans-v18-latin-700.woff" type="font/woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="~/fonts/roboto-v20-latin-500.woff" type="font/woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="~/fonts/roboto-v20-latin-700.woff" type="font/woff" crossorigin="anonymous">

    @*Ressources moins importantes (on laisse la mécanique de chargement native du fureteur décider l'ordre de chargement normalement dans l'ordre d'inclusion)*@
    <link rel="stylesheet" href="~/css/base.min.css" data-include asp-append-version="true" />
    <link rel="stylesheet" href="~/Sprite" />

    @*Ressources non importantes dont le chargement est effectué en différé (après que la page soit chargée)*@
    <link rel="stylesheet" href="~/css/impression.css" media="print" data-include asp-append-version="true" onload="this.media='all' ">

    <link rel="stylesheet" href="~/css/additionnel.min.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("style", required: false)
</head>
<body>
    <div class="conteneur-principal">
        <main id="main">

            <div class="conteneur-entete @ViewData["classe-fond-section-entete"] @(h1HorsEcran ? "h1-hors-ecran" : "") @(h1NonRendu ? "h1-non-rendu" : "")">
                <div class="container">
                    <div class="espaceur-conteneurs"></div>
                    @if (!string.IsNullOrEmpty(ViewData["nom-service-entete"].ToString()))
                    {
                        <div class="nom-service-entete">
                            @ViewData["nom-service-entete"]
                        </div>
                    }

                    @if (!h1NonRendu)
                    {
                        <h1 class="@(h1HorsEcran ? "sr-only" : "")">
                            @ViewData["Title"]
                        </h1>
                    }

                    <div class="espaceur-conteneurs"></div>
                </div>
            </div>
            <div class="conteneur-contenu1 conteneur-sans-colonne @ViewData["classe-fond-section-contenu1"]">
                <div class="container">
                    <div class="espaceur-conteneurs  @(masquerPremierEspaceurContenu1 ? "d-none" : "")"></div>
                    @RenderBody()
                    <div class="espaceur-conteneurs"></div>
                </div>
            </div>
            <div class="conteneur-colonnes @ViewData["classe-fond-section-2colonnes"]">
                <div class="container">
                    <div class="espaceur-conteneurs @(masquerPremierEspaceurConteneurColonnes ? "d-none" : "")"></div>
                    <div id="conteneur2Colonnes" class="contenu-principal-droite">
                        <div id="colonneGauche">
                            @RenderSection("colonneGauche", required: false)
                        </div>

                        <div id="colonneDroite">
                            @RenderSection("colonneDroite", required: false)
                        </div>
                    </div>
                    <div class="espaceur-conteneurs"></div>
                </div>
            </div>

            <div class="conteneur-contenu2 conteneur-sans-colonne @ViewData["classe-fond-section-contenu2"]">
                <div class="container">
                    <div class="espaceur-conteneurs"></div>
                    @RenderSection("contenuSection2", required: false)
                    <div class="espaceur-conteneurs"></div>
                </div>
            </div>

        </main>


        <!-- Zone de notifications visible (nos toasts) -->
        <div id="zoneNotifications" class="notifications">
        </div>

        <!-- Zone de notifications lecteur écran seulement -->
        <div id="zoneNotificationsLecteurEcran" aria-live="polite" class="sr-only">
        </div>

        <div id="flecheHaut" data-ga-action="@ViewData["Title"]" aria-hidden="true">
            <div class="contenu">
                <img src="~/images/sprite.svg#ico-fleche-haut-blanche" width="25" height="21" aria-hidden="true" alt="Retour en haut de page." />
            </div>
        </div>
    </div>

    <script src="~/js/base.min.js" asp-append-version="true"></script>
    @{//<script src="~/js/additionnel.min.js" asp-append-version="true"></script>
    }
    <script src="~/js/baseAsync.min.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
